* {
  button {
    border-radius: 100px;
  }
}

.main {


  @keyframes addedToCart {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .added-to-cart {
    animation: addedToCart 0.3s ease-out;
  }

  .kate {
    text-align: center;

    button {
      padding: 14px;
      font-size: 20px;
      margin: 15px;
      width: 124px;
      height: 57px;

    }
  }

  .leftBtn {
    position: fixed;
    top: 408px;

  }

  .rightBtn {
    position: fixed;
    top: 408px;
    right: 21px;
  }

  .serch {
    text-align: end;
    padding: 68px;

    img {
      top: 4px;
      width: 18px;
      right: 38px;
      margin: 0;
      left: 24px;
      position: relative;
    }

    input {
      width: 40%;
      border: 1px solid #bbb;
      border-radius: 8px;
      padding: 10px 12px;
      font-size: 14px;
      text-align: center;
    }
  }

  .main-cart {
    //display: flex; /* flexbox 설정 */
    //flex-direction: row; /* 가로 방향으로 정렬 */
    top: 100px;

    img {
      width: 100px;
      height: 100px;
      text-align: center;
    }

    .pay {
      text-align: center;
      display: block;
    }

    float: left;
    width: 25%;
    flex-wrap: wrap;
    height: 210px;
    text-align: center;
  }

  .cart {


    button {

    }

    button:hover {
      background-color: #000;
      color: #fff;
    }

    button.selected {
      background-color: #000;
      color: #fff;
    }
  }

}
